doctype html
html
	head
		title= `${title} | ${h.siteName}`
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css')
		link(rel='stylesheet', href='/css/layout.css')
		link(href="/nouislider/distribute/nouislider.min.css" rel="stylesheet")
		link(rel="shortcut icon" type="image/png" href="/assets/heart.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(src="/javascript/jquery-3.2.1.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascript/site.js")
		script.
			var socket = io();
	body

		include mixins/_navMenuDesk
		include mixins/_navMenuTouch

		block header
			nav.nav.has-shadow(style="height: 80px")
				.nav-left(style="overflow: inherit")
					a.nav-item(href="/")
						img(src="/assets/matcha.png" style="max-height: 2.5rem" alt="home")
				.nav-right.is-hidden-touch
					if !user
						a.nav-item(href="/signup") Sign-Up
						a.nav-item(href="/login") Login
					else
						+navMenuDesk(user)
						a.nav-item(href=`/myprofile/view/${user}`)
							button.button.is-medium.is-danger My Profile
						a.nav-item.logout(href="/logout") Log-Out

				span.nav-toggle#nav-toggle
					span
					span
					span

				.nav-right.nav-menu.is-hidden-desktop(style="z-index: 100; position: absolute")#nav-menu
					+navMenuTouch(user)


		block messages
			section.hero.is-info
				.hero-body
					.container
						h1.title Home
						if !user
							h2.subtitle Please Login or Sign-Up to enjoy the website !
						else
							h2.subtitle Welcome, #{email}

		block nav

		block flashes
			if locals.flashes
				.column.is-half.is-offset-one-quarter
					- const categories = Object.keys(locals.flashes)
					each category in categories
						each message in flashes[category]
							.notification(class=`${category}`)!= message
								button.delete(onClick="this.parentElement.remove()")

		block content

		block footer
			footer.footer
				.container
					.content.has-text-centered
						strong Matcha Project
						p Behamon - 42

		block scripts
