extends layout

block content
	.columns.is-flex(style="height: 30rem; flex-flow: wrap")
		.nav.panel.column.is-2(style="margin: 1rem")
			p.panel-heading Conversations
			each conv in convs
				a.panel-block(href=`/messages/${hash}?to=${conv.hash}`)= `${conv.name}`
					span.tag.is-light(id=`${conv.hash}`)
		.box.column.is-8(style="position: relative")
			.messages(style="overflow: scroll; height: 90%; width: 100%;")
				table.table
					thead
						tr
							th Sender
							th Message
					tbody#table
						tr

			form.form#msg-form(action="")
				input.input.is-info#msg-input
				button.button.is-info#msg-button Send

block scripts
	script.
		var hash = "#{hash}";
	script(src="/javascript/tchat.js")
