mixin editPublic(userdata = {})
	.column.is-half.is-offset-one-quarter
		form.field(action=`/myprofile/public/${userdata.hash}` enctype="multipart/form-data" method="POST")
			label.label Your age
			p.control
				span.select.is-info
					select.is-info(name="age")
						- var i = 18;
						while i < 40
							if (userdata.age == i)
								option(selected="selected")= i++
							else
								option= i++
			label.label You are:
			p.control
				span.select.is-info
					select.is-info(name="sexe")
						if userdata.sexe === "A Man"
							option(selected="selected") A Man
							option A Woman
						else
							option(selected="selected") A Woman
							option A Man
			label.label You are looking for:
			p.control
				span.select.is-info
					select.is-info(name="orientation")
						if userdata.orientation === "A Man"
							option(selected="selected") A Man
							option A Woman
						else
							option(selected="selected") A Woman
							option A Man
			label.label Address
			p.control
				input.input.is-info#addr(type="text", name="location[address]"
				value=(userdata.location && userdata.location.address))
				input#lng(type="text", name="location[coordinates][0]"
				value=(userdata.location && userdata.location.coordinates[0]) hidden)
				input#lat(type="text", name="location[coordinates][1]"
				value=(userdata.location && userdata.location.coordinates[1]) hidden)
				input#loc(type="text", name="location[loc]"
				value=(userdata.location && userdata.location.loc) hidden)
			label.label Bio
			p.control
				textarea.textarea.is-info(name="bio" placeholder="Who are you?")= userdata.bio

			- const choices = ["#bio", "#geek", "#electro", "#fancy", "#meat"]
			- const tags = userdata.tags || []
			p.control
				label.label Tags
				each choice in choices
					label.checkbox(for=choice)= choice
					input.check(type="checkbox" value=choice name="tags" checked=tags.includes(choice))
			p.control
				each i in [0, 1, 2, 3, 4]
					.box
						label.label(for="photo") Picture #{i + 1}
						input.input.is-info(type="file" name=`photo-${i + 1}` accept="image/*")
						if userdata.photos[i]
							.card-image(style="margin-top: 5px")
								figure.image
									img(src=`/users/${userdata.hash}/${userdata.photos[i]}`)

			p.control(style="text-align: center")
				input.button.is-info#submit(type="submit" name="edit" value="Save changes" style="margin-top: 1rem")
