mixin fullProfile(userdata = {})
	.column.is-10.is-offset-1
		.columns.box(style="margin-bottom: 1rem")
			.column.is-one-third
				.card
					.card-image
						figure.image
							if !userdata.photos
								img(src=`/assets/ph.jpg`)
							else
								- var i = 0
								img#pp(src=`/users/${userdata.hash}/${userdata.photos[i]}` alt="photo")
					.card-footer
						.card-footer-item#prev(style="color: #3273dc") Previous
						.card-footer-item#next(style="color: #3273dc") Next
			footer.column.is-one-third
					h2.title.is-3 #{userdata.first_name}, #{userdata.last_name}  |  5★
					if (userdata.age && userdata.location.loc && userdata.tags)
						h2.subtitle #{userdata.age} Years Old, lives in #{userdata.location.loc}
						each tag in userdata.tags
							span.tag.is-warning(style="margin-right: 3px") #{tag}
			.column.is-one-third
				h2.title Bio
				p #{userdata.bio}
